.spinner {
    height: 50px;
    width: 50px;
    border: 0.25em solid black;
    border-right-color: transparent;
    border-radius: 50%;
    align-self: center;
    animation: rotation 0.75s linear infinite;
    transition: 1s all ease;
}
@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
